<!-- <h1>Conor Bergin's Blog</h1> -->
<!-- <head> -->
    <title>Conor Bergin's Website</title>
<!-- </head> -->

<h1>Posts</h1>
<p><a href="/eleventy-to-sveltekit">From Eleventy to SvelteKit</a></p>
<p><a href="/aoc-rust">Advent of Code in Rust</a></p>
<p><a href="/cad">On CAD</a></p>
<p><a href="/strandbeest">Making a Flexible Strandbeest</a></p>

