$light: #999999;
$lighter: #eeeeee;
$lightest: #e0dfdb;

$dark: #222222;
$darker: #0d0d0d;
$darkest: #000000;

$scroll: #a0a0a0;


body {
    margin: 0 auto;
    max-width: 80ch;
    min-width: 320px;
    // font-family: 'Roboto Slab', serif;
    // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $darker;
    background-color: $lightest;
}

nav {
    margin: 8px 8px 0px 8px;
    a {
        color: $dark;
        display: inline-block;
        padding-right: 10px;
        text-decoration: none;
    }

    a:hover {
        color: rgb(80, 80, 80);
        text-decoration: none;
    }
}


footer {
    padding-top: 50px;
}




main {
    margin: 0px 9px;

    li {
        margin: 1rem 0;
        line-height: 1.5rem;
    }

    li p {
        margin: 0.4rem 0;
    }

    p {
        margin: 1rem 0;
        line-height: 1.3rem;
    }

    pre {
        border-radius: 8px;
    }

    a {
        text-decoration: none;
    }

    article {
        margin: 0
    }




    h1 {
        font-size: 1.4rem;
        margin: 15px 0;
    }

    h2 {
        font-size: 1.2rem;
        margin: 15px 0;
    }

    h3 {
        font-size: 1.1rem;
        margin: 15px 0;
    }


    li {
        min-width: 0px;
    }

    ul,
    ol {
        margin-left: 0;
        padding-left: 20px;
    }


    img,
    video,
    canvas {
        max-width: 100%;
        display: block;
        margin: 0
    }

    figure img,
    video,
    canvas {
        margin: 10px 0px;
    }

    figure {
        // font-weight: bold;
        font-size: smaller;
        text-align: center;
        margin: 0
    }


    /* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+rust */
    code[class*=language-],
    pre[class*=language-] {
        color: #ccc;
        background: 0 0;
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none
    }

    pre[class*=language-] {
        padding: 1em;
        margin: .5em 0;
        overflow: auto
    }

    :not(pre)>code[class*=language-],
    pre[class*=language-] {
        background: #2d2d2d
    }

    :not(pre)>code[class*=language-] {
        padding: .1em;
        border-radius: .3em;
        white-space: normal
    }

    .token.block-comment,
    .token.cdata,
    .token.comment,
    .token.doctype,
    .token.prolog {
        color: #999
    }

    .token.punctuation {
        color: #ccc
    }

    .token.attr-name,
    .token.deleted,
    .token.namespace,
    .token.tag {
        color: #e2777a
    }

    .token.function-name {
        color: #6196cc
    }

    .token.boolean,
    .token.function,
    .token.number {
        color: #f08d49
    }

    .token.class-name,
    .token.constant,
    .token.property,
    .token.symbol {
        color: #f8c555
    }

    .token.atrule,
    .token.builtin,
    .token.important,
    .token.keyword,
    .token.selector {
        color: #cc99cd
    }

    .token.attr-value,
    .token.char,
    .token.regex,
    .token.string,
    .token.variable {
        color: #7ec699
    }

    .token.entity,
    .token.operator,
    .token.url {
        color: #67cdcc
    }

    .token.bold,
    .token.important {
        font-weight: 700
    }

    .token.italic {
        font-style: italic
    }

    .token.entity {
        cursor: help
    }

    .token.inserted {
        color: green
    }

    /* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+julia+latex+matlab+rust */
    // code[class*=language-],pre[class*=language-]{color:#000;background:0 0;text-shadow:0 1px #fff;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:#b3d4fc}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:#b3d4fc}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#f5f2f0}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#708090}.token.punctuation{color:#999}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.deleted,.token.number,.token.property,.token.symbol,.token.tag{color:#905}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#690}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url{color:#9a6e3a;background:hsla(0,0%,100%,.5)}.token.atrule,.token.attr-value,.token.keyword{color:#07a}.token.class-name,.token.function{color:#dd4a68}.token.important,.token.regex,.token.variable{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}
}